[submodule "external/esp32-camera"]
	path = external/esp32-camera
	url = https://github.com/maxlab-io/esp32-camera.git
	branch = maxlab_branch
[submodule "external/tflite-micro-esp-examples"]
	path = external/tflite-micro-esp-examples
	url = https://github.com/espressif/tflite-micro-esp-examples.git
[submodule "external/esp-protocols"]
	path = external/esp-protocols
	url = https://github.com/espressif/esp-protocols.git
[submodule "external/apds9306/sensor-apds9306"]
	path = external/apds9306/sensor-apds9306
	url = https://github.com/sensidev/sensor-apds9306.git
